<div class="container-fluid">
  <mat-card>
    <mat-card-header class="d-block">
      <div class="row">
        <div class="col-md-6">
          <mat-card-title>
            <h3>Budget</h3>
          </mat-card-title>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>First Month</th>
              <th>Last Month</th>
              <th>Last Modified On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of budgetList">
              <td>
                <a routerLink="./detail" [queryParams]="{'bid':item.id}">
                  {{item.name}}
                </a>
              </td>
              <td>{{item.first_month | date : 'MM/dd/yyyy'}}</td>
              <td>{{item.last_month | date : 'MM/dd/yyyy'}}</td>
              <td>{{item.last_modified_on | date : 'MM/dd/yyyy h:mm a'}}</td>
            </tr>
            <tr *ngIf="!budgetList?.length">
              <td colspan="4">
                {{ errMsg || 'No budget available' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>