.layout-wrap {
    position: relative;
    top: 87px;
    width:100%;
    float:left;
    .sidebar {
        width:15%;
        float: left;
    }
    .layout {
        width:85%;
        float: left;
        padding: 10px;
        height: calc(100vh - 87px);
        overflow: auto;
        background-color: #eee;
    }
}
